body{
  position: relative;
  margin: 0;
  min-height:100vh; 
  padding:0; 
  display: flex;
  flex-direction: column;

}
/*--------Footer-------*/

/*-------Header-------*/
header{
  position: absolute;
  height: 40px;
  width: 100%;
  background: #252525;
  top: 0px;
  .headerLeft{
    position: absolute;
    top: -5px;
    margin-left: 11.1%;
    li{
      display: inline-block;
      .icons{
        color: grey;
        width: 25px;
        height: 25px;
        margin-right: 7px;

      }
    }
  }
  .headerRight{
    display: inline-block;
    position: absolute;
    margin-left: 72.6%;
    margin-top: 8px;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      display: flex;
    }

    li a {
      font-family: Lato-Bold;
      font-size: 14px;
      color: white;
      text-align: center;
      text-decoration: none;
      letter-spacing: 0.49px;
      line-height: 17px;
    }
    p{
      letter-spacing: 0.49px;
      line-height: 17px;
      font-family: Lato-Bold;
      font-size: 14px;
      color: #9B9B9B;
      margin-left: 19px;
      margin-right: 19px;
      margin-top: 2px;
    }
  }
}

/*--------Navigation--------*/

nav{
  margin-top: 40px;
  margin-bottom: 10px; 
  height: 80px;
  width: 100%;
  display: flex;
  .navLogo{
    display: flex;
    width: 140px;
    margin-left: 13.7%;
    margin-top: 15px;
    img{
      display: flex;
      margin-top: 23px;
      margin-right: 11px;
      width: 28px;
      height: 28px;
    }
    p{
      display: inline-block;
      font-family: Lato-Light;
      color: #8367D8;
      font-size: 24px;
      letter-spacing: 0.84px;
      line-height: 29px;
      height: 29px;
    }

  }
  .nav-search {
    position: absolute;
    height: 100%;
    width: 32.7%;
    left: 30.1%;
    input[type=text] {
      margin-top: 18px;
      background: #FFFFFF;
      border: 1px solid #E3E3E3;
      width: 100%;
      height: 31px;
      box-shadow: 3px 3px 0 0 
      rgba(0,0,0,0.11); 
      font-size: 18px;
      font-family: Lato-Regular;
      color: #9B9B9B;
      letter-spacing: 0.63px;
      line-height: 22px;
      padding: 12px 20px;
      background-image: url('/assets/icons/search.png');
      background-size: 20px 20px;
      background-position: 97%; 
      background-repeat: no-repeat;
    }
  }
  .nav-links{
    position: absolute;
    height: 100%;
    width: 350px;
    margin-top: 35px;
    left: 69.4%;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      display: flex;
      .accountList{
        position: absolute;
        top:54px;
        border: black solid 1px;
        display: block;
        z-index: 10000;
        left: 148px;
        width: 172px;
        height: auto;
        background: #FFFFFF;
        border: 1px solid #ECECEC;
        li{
          font-family: Lato-Regular;
          font-size: 16px;
          color: #9B9B9B;
          letter-spacing: 0.56px;
          margin-bottom: 25px;
          margin-left: 30px;
          cursor: pointer;
        }
        .firstInList{
          margin-top: 25px;
        }
        .active{
          color: #8367D8;
        }
        li:hover{
          color: #8367D8;
        }
      }
    }
    li {
      margin-right: 11.9%;
      a{
        font-family: Lato-Bold;
        font-size: 16px;
        color: #252525;
        text-align: center;
        text-decoration: none;
        letter-spacing: 0.56px;
        line-height: 19px;
      }
    }

  }
}

/*------Title Bar------*/
.standard{
  background: #FAFAFA;
  height: 60px;
  width: 100%;
  margin-top: -10px;
}
.barTitle{
  position: relative;
  font-family: Lato-Regular;
  font-size: 18px;
  color: #252525;
  letter-spacing: 0.63px;
  left: 11.8%;
  top: 19px;
}
.pageBody{
  position: relative;
  width: 100%;
  top: auto;
}
@media (max-width: 1000px) {
  nav{
    flex-wrap: wrap;
    height: 160px;
    .navLogo{
    }
    .nav-search {
      top: 110px;
      width: 66%;
      left: 14%;
    }
    .nav-links{
      left: 55.4%;
    }
  }
  header{
    .headerRight{
      margin-left: 62.6%;
    }
  }
}
@media (max-width: 800px) {
  nav{
    flex-wrap: wrap;
    height: 200px;
    .navLogo{
      position: absolute;
      left: 28%;
    }
    .nav-search {
      top: 150px;
      width: 66%;
      left: 17%;
    }
    .nav-links{
      top: 90px;
      left: 34.4%;
    }

  }
}

/*--------Footer-------*/

footer{
  position: relative;
  flex-wrap: nowrap;
  bottom: 0px;
  margin-bottom: -90px;
  height: 356px;
  width: 100%;
  background-color: #252525;
  border: 1px solid #979797;
  .footerH{
    color: #FFFFFF;
    width:154px;
    height: 28px;
    font-family: Lato-Regular;
    font-size: 16px;
    letter-spacing: 0.56px;
    line-height: 19px;
    opacity: 0.5;
  }
  .footerP{
    color: #D8D8D8;
    font-family: Lato-Regular;
    font-size: 16px;
    letter-spacing: 0.56px;
    line-height: 19px;
  }
  .footer-left{
    position: relative;
    margin-left: 20.1%;
    top:62px;
    display: inline-block;
  }
  .footer-center{
    position: relative;
    margin-left: 7.9%;
    top:62px;
    display: inline-block;
    .footer-social{
      margin: 0px;
      padding: 0px;
      li{
        display: inline-block;
        .icons{
          color: grey;
          width: 25px;
          height: 25px;
          margin-right: 10px;
        }
      }
    }
  }
  .footer-right{
    position: relative;
    display: inline-block;
    margin-left: 9.4%;
    top: 64px;
    input[type=email]{
      padding-left: 10px;
      width: 275px;
      height: 54px;
      background: #3B3B3B;
      border: none;
    }
    .goButton{
      background: #252525;
      margin-left: 10px;
      width: 119px;
      height: 56px;
      border: 3px solid #8367D8;
      font-family: Lato-Bold;
      font-size: 18px;
      color: #D8D8D8;
      letter-spacing: 0.63px;
    }
  }
}
@media (max-width: 1300px) {
  footer{
    height: 650px;
    margin-bottom: -150px;

    .footer-left{
      margin-left: 40%;
    }
    .footer-center{
      margin-left: 40%;    
    }
    .footer-right{
      margin-left: 40%;
      .goButton{
        margin-top: 20px;
        margin-left: 0px;
      }
    }
  }
}
/*--------Login page--------*/
%inputFont{
  font-size: 14pt;
  font-family: Lato-Regular;
}
%authTitle{
  display: flex;
  padding: 0px;
  width: 100%;
  height: 60px;
  background: #FAFAFA;
}
%authTitleText{
  margin: auto;
  font-family: Lato-Bold;
  font-size: 24px;
  color: #252525;
  letter-spacing: 0.84px;
  text-align: center;
}
%inLabel{
  font-family: Lato-Regular;
  font-size: 18px;
  color: #252525;
  letter-spacing: 0.63px;
  margin-left: 51px;
  margin-top: 43px;
}
%authInput{
  background: #FCFCFC;
  border: 1px solid #D8D8D8;
  width:84.4%;
  height: 54px;
  margin-left: 7%;
  padding-left: 15px;
  @extend %inputFont;
}
%error{
  margin-left: 51px;
  margin-top: 5px;    
  color: #8367D8;
  @extend %inputFont;
}
.loginBox{
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 199px;
  width: 48.8%;
  height: 726px;
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  .loginTitle{
    @extend %authTitle;
    .titleText{
      @extend %authTitleText;
    }
  }
  .inputLabel{
    @extend %inLabel;
  }
  .input{
    @extend %authInput;
  }
  .rememberMe{
    .checkB{
      margin-left: 51px;
      width: 16px;
      height: 16px;
      margin-top: 40px;
    }
    .labelCB{
      display: inline-block;
      font-family: Lato-Regular;
      font-size: 18px;
      color: #252525;
      letter-spacing: 0.63px;
      margin-left: 5px;
      margin-top: 43px;
    }
  }
  .loginButton{
    background: #8367D8;
    border: 3px solid #8367D8;
    box-shadow: 3px 3px 0 0 rgba(131,103,216,0.31);
    margin-left: 7.3%;
    margin-top: 34px;
    margin-bottom: 33px;
    width: 85.8%;
    height: 57px;
    font-family: Lato-Bold;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0.63px;
    text-align: center;
  }
  .loginBFB{
    background: #475993;
    border: 3px solid #415994;
    width: 39.8%;
    height: 54px;
    margin-left: 7.3%;
    font-family: Lato-Bold;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.56px;
    text-align: center;
  }
  .loginBGM{
    background: #CD5542;
    border: 3px solid #CD5542;
    width: 39.8%;
    height: 54px;
    margin-left: 5.5%;
    font-family: Lato-Bold;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.56px;
    text-align: center;
  }
  #fpass{
    font-family: Lato-Regular;
    font-size: 18px;
    color: #8367D8;
    letter-spacing: 0.63px;
    margin-top: 49px;
    margin-left: 38.6%;
  }
  .error{
    @extend %error;
  }
}

/*----------Registration page------------*/

.registrBox{
  margin-left: auto;
  margin-right: auto;
  margin-top: 39px;
  margin-bottom: 199px;
  padding: 0px;
  width: 48.8%;
  height: 863px;
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  .registerTitle{
    @extend %authTitle;
    .titleText{
      @extend %authTitleText;
    }
  }
  .inputLabel{
    @extend %inLabel;
  }
  .input{
    @extend %authInput;
  }
  .registerButton{
    background: #FFFFFF;
    border: 3px solid #8367D8;
    box-shadow: 3px 3px 0 0 rgba(131,103,216,0.31);

    margin-left: 51px;
    margin-top: 60px;
    margin-bottom: 30px;
    width: 85.8%;
    height: 57px;
    font-family: Lato-Bold;
    font-size: 18px;
    color: #252525;
    letter-spacing: 0.63px;
    text-align: center;
  }
  #haveAcc{
    font-family: Lato-Regular;
    font-size: 18px;
    color: #9B9B9B;
    letter-spacing: 0.63px;
    margin-left: 28.4%;
    display: block;
  }

  .liginLink{
    font-family: Lato-Regular;
    margin-left: 16px;
    font-size: 18px;
    color: #8367D8;
    letter-spacing: 0.63px;
    text-decoration: none;
    padding-left: 5px;
  }
  .error{
    @extend %error;
  }
}
@media (max-width: 800px) {
  .loginBox{
    width: 88%;
  }
  .registrBox{
    width: 88%;
    #haveAcc{
      margin-left: 28.4%;
    }
  }
  .productName{
    font-size: 1.2VW;
  }
}

/*------------Home-------------*/
%middleProductTitle{
  font-family: Lato-Regular;
  font-size: 28px;
  color: #252525;
  letter-spacing: 0.98px;
}
/*------Product------*/

.productName{
  font-family: Lato-Bold;
  font-size: 1.2VW;
  color: #252525;
  letter-spacing: 0.84px;
  text-decoration: none;
}
.productPrice{
  font-family: Lato-Regular;
  font-size: 16px;
  color: #252525;
  letter-spacing: 0.56px;
}
.linkToClass{
  text-decoration: none;
}

.bodyTop{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background: #FAFAFA;
  margin-bottom: 56px;
  .categories{
    width: 17.6%;
    height: 100%;
    margin-left: 11.1%;
    background: #FFFFFF;
    box-shadow: 3px 3px 0 0 rgba(0,0,0,0.11);
    .categoriesTitle{
      margin-left: 20px;
      padding-top: 15px;
      font-family: Lato-Bold;
      font-size: 1VW;
      color: #8367D8;
      letter-spacing: 0.56px;
    }
    ul{
      margin: 0;
      list-style-type: none;
      padding: 0;
      overflow: hidden;
      li{
        border-bottom: 1px solid #ECECEC;
        padding-top: 15px;
        padding-bottom: 15px;
        a{
          margin-left: 20px;
          font-family: Lato-Regular;
          font-size: 16px;
          color: #252525;
          text-decoration: none;
        }

      }

    }
  }
  .productTitle{
    margin-left: 5.4%;
    width: 52.7%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    .productTitleP{
      width: 60%;
      font-family: Lato-Regular;
      font-size: 2.2vw;
      color: #252525;
      letter-spacing: 1.61px;
      margin-top: 133px;
    }
    .productTitleDescription{
      width: 323px;
      font-family: Lato-Regular;
      font-size: 16px;
      color: #252525;
      letter-spacing: 0.56px;
      line-height: 22px;
    }
    .productTitlePrice{
      font-family: Lato-Regular;
      font-size: 24px;
      color: #8367D8;
      letter-spacing: 0.84px;
    }
    .productTitleButton{
      margin-top: 23px;
      width: 192px;
      height: 57px;
      background: #FFFFFF;
      border: 3px solid #8367D8;
      box-shadow: 3px 3px 0 0 rgba(131,103,216,0.31);
      font-family: Lato-Bold;
      font-size: 18px;
      color: #252525;
      letter-spacing: 0.63px;
    }
    .titleImage{
      img{
        margin-top: 157px;
        margin-left: 10px;
        width: 374px;
        height: 330px;
        object-fit: cover;
      }
    } 
  }
}
.homeBody{
  margin: auto;
  max-width: 1100px;
  width: 76.4%;
  height: auto;

  .featureCollectionBody{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .featureCollectionTitle{
      @extend %middleProductTitle;
    }
    .featureCollectionImages{
      display: flex;
      flex-wrap: wrap;
      margin-top: 14px;
      border-top: #ECECEC solid 4px;
      height: auto;
      width: 100%;
      margin: auto;
      justify-content: space-between;
      .featureCollection {
        .imageOptions{
          visibility: hidden;
        }
        img{
          width: 350px;
          height: 350px;
          margin-top: 25px;      
          object-fit: cover; 
        }   
      }
    }
  }
  .featureProductBody{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    height: auto;
    .featureProductTitle{
      @extend %middleProductTitle;
    }
    .featureProductImages{
      display: flex;
      flex-wrap: wrap;
      border-top: #ECECEC solid 4px;
      width: 100%;
      justify-content: space-between;
      align-content: center;
      .featureProduct{
        .imageOptions{
          visibility: hidden;
        }
        img{
          margin-top: 25px;
          width: 260px;
          height: 300px;
          object-fit: scale-down;
        }
      }
    }
  }
  .bottomPartButtons{
    height: auto;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 25px;
    display: block;
    flex-wrap: wrap;
    padding-bottom: 12px;
    border-bottom: #ECECEC solid 4px;
    .bottomPartBtn{
      padding-bottom: 12px;
      height: 48px;
      margin-right: 68px;
      height: 48px;
      text-decoration: none;
      font-family: Lato-Regular;
      font-size: 1.94VW;
      color: #252525;
      letter-spacing: 0.98px;
      &:hover{
        border-bottom: #8367D8 solid 4px;
      }
    }
    .active{
      border-bottom: #8367D8 solid 4px;
    }
  }
  /*------Bottom Part-------*/

  .bottomPartBody{
    justify-content: space-between;
    display: flex;
    height: auto;
    margin-bottom: 80px;
    flex-wrap: wrap;
    .bottomPart {
      margin-top: 25px;
      .imageOptions{
        visibility: hidden;
      }
      img{
        width: 260px;
        height: 260px;
        object-fit: cover;
      }
    }
  }
  @media (max-width: 1000px) {
    .featureCollectionBody{
      .featureCollectionImages{
        justify-content: center;
      }
    }
    .productName{
      text-align: center;
      font-size: 3.2VW;
    }
    .productPrice{
      text-align: center;
    }
  }
  @media (max-width: 700px) {
    .featureProductBody{
      .featureProductImages{
        justify-content: center;
      }
    }
    .bottomPartBody{
      justify-content: center;
    }
    .bottomPartButtons{
      .bottomPartBtn{
        margin-top: 50px;
        font-size: 2.23VW;
      }
    }
  }
}
.pagination{
  margin-bottom: 100px;
  height: 50px;
  width: auto;
  margin-left: 40%;
  .loadMoreBtn{
    width: 12%;
    height: 100%;
    font-family: Lato-Bold;
    font-size: 16px;
    color: #252525;
    letter-spacing: 0.63px;
    text-align: center;
    background: #FFFFFF;
    border: 3px solid #8367D8;
    box-shadow: 3px 3px 0 0 rgba(131,103,216,0.31);
  }
}

/*------------Single Product-------------*/

.errorNotification{
  height: 60px;
  width: 100%;
  .errorNotificationText{
    height: 40px;
    width: 100%;
    margin-top: 0px;
    padding-top: 20px;
    background: #F6F2E5;
    padding-left: 11.8%;
    font-family: Lato-Regular;
    font-size: 18px;
    color: #AB944E;
    letter-spacing: 0.63px;
  }
  .successNotificationText{
    height: 40px;
    width: 100%;
    margin-top: 0px;
    padding-top: 20px;
    background: #F0F3EE;
    padding-left: 11.8%;
    font-family: Lato-Bold;
    font-size: 18px;
    color: #417505;
    letter-spacing: 0.63px;
  }
  .notAuthenticatedNotification{
    height: 40px;
    width: 100%;
    margin-top: 0px;
    padding-top: 20px;
    background: #FD502B;
    padding-left: 11.8%;
    font-family: Lato-Bold;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0.63px;
  }
  .ownerMessage{
    height: 40px;
    width: 100%;
    margin-top: 0px;
    padding-top: 20px;
    background: #8367D8;
    padding-left: 11.8%;
    font-family: Lato-Bold;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0.63px;
  }
}
.singleProductBody{
  height: auto;
  width:78%;
  margin: auto;
  margin-top: 40px;
  .spTopPart{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    .spImages{
      height: 690px;
      width: 470px;
      .bigImageDiv{
        height: 570px;
        width: 100%;
        margin:0;
        .bigImage {
          display: flex;
          height: 100%;
          vertical-align: middle;
          img{
            vertical-align: middle;
            max-height: 570px;
            max-width: 470px;
            object-fit: scale-down;
          }
        }

      }
      .smallImageDiv{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        .smallImage img{
          max-height: 110px;
          max-width: 110px;
          object-fit: cover;
        }
      }
    }
    .spRightSide{
      width: 41.7%;
      margin-left: 3.5%;
      .spName{
        font-family: Lato-Regular;
        font-size: 46px;
        color: #252525;
        letter-spacing: 1.61px;
      }
      .spStartPrice{
        font-family: Lato-Regular;
        font-size: 24px;
        color: #8367D8;
        letter-spacing: 0.84px;
        margin-top: 14px;
      }
      .bidDiv{
        margin-top: 46px;
        display: flex;
        .bidInput{
          background: #ECECEC;
          border: 1px solid #D8D8D8;
          height:54px;
          width: 32.3%;
          @extend %inputFont;
        }
        .bidBtn{
          background: #FFFFFF;
          border: 3px solid #8367D8;
          box-shadow: 3px 3px 0 0 rgba(131,103,216,0.31);
          height: 55px;
          margin-left: 21px;
          width: 32.3%;
        }
      }
      .bidLabel{
        margin-top: 9px;
        font-family: Lato-Regular;
        font-size: 15px;
        color: #9B9B9B;
        letter-spacing: 0.52px;
        line-height: 22px;
      }
      .bidInfo{
        margin-top: 66px;
        font-family: Lato-Regular;
        font-size: 16px;
        color: #9B9B9B;
        letter-spacing: 0.56px;
        .hpInfo{
          color: #8367D8;
          font-weight: bold;
        }
      }
      .watchListBtn{
        background: #FFFFFF;
        border: 3px solid #ECECEC;
        font-family: Lato-Regular;
        font-size: 15px;
        color: #252525;
        letter-spacing: 0.52px;
        line-height: 22px;
        width: 140px;
        height: 36px;
        margin-top: 45px;
        .wlInactive{
          color: #ECECEC;
          width: 24px;
          height: 20px;
        }
        .wlActive{
          color: #8367D8;
          width: 24px;
          height: 20px;
        }
      }
      .bidDetails{
        font-family: Lato-Regular;
        font-size: 18px;
        color: #252525;
        letter-spacing: 0.63px;
        margin-top: 27px;
        margin-bottom: 6px;
        border-bottom: #ECECEC solid 4px;
      }
      .bidDetailsText{
        padding-top: 19px;
        font-family: Lato-Regular;
        font-size: 15px;
        color: #252525;
        letter-spacing: 0.53px;
        line-height: 22px;
      }
    }
  }
}

/*------Related Products-------*/


.relatedProduct{
  width:78%;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 159px;
  .relatedProductTitle{    
    font-family: Lato-Regular;
    font-size: 28px;
    color: #252525;
    letter-spacing: 0.98px;
  }
  .relatedCollectionBody{
    display: flex;
    flex-wrap: wrap;
    margin-top: 14px;
    border-top: #ECECEC solid 4px;
    height: auto;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    .relatedCollection {
      img{
        width: 350px;
        height: 350px;
        margin-top: 25px;      
        object-fit: cover; 
      }
      .imageOptions{
        visibility: hidden;
        .watchListBtn{
          i{
            color: #ECECEC;
            margin-left: 7px;
          }
          .active{
            color: #8367D8;
          }
        }
      }
    }
    .relatedCollection:hover{

      img{
        opacity: 0.5;
      }
      .imageOptions{
        position: absolute;
        z-index: 1000;
        visibility: visible;
        margin-left: 10px;
        padding-top: 192px;
        .watchListBtn{
          width: 140px;
          height: 36px;
          font-family: Lato-Regular;
          font-size: 15px;
          color: #252525;
          letter-spacing: 0.52px;
          line-height: 22px;
          i{
            margin-left: 6px;
          }
        }
        .bidBtn{
          width: 100px;
          height: 36px;
          font-family: Lato-Regular;
          font-size: 15px;
          color: #252525;
          letter-spacing: 0.52px;
          line-height: 22px;
          i{
            margin-left: 6px;
          }
        }
        .bidBtn:hover{
          border: #8367D8 solid 2px;
        }
        .watchListBtn:hover{
          border: #8367D8 solid 2px;
        }
      }
    }
  }
  
}
.bidsListBody{
  width: 78%;
  margin: auto;
  height: auto;
  margin-top: 120px;
  margin-bottom: 159px;
  border: 1px solid #D8D8D8;
  .bidHeader{
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: nowrap;
    background: #F0F0F0;
    font-family: Lato-Regular;
    font-size: 18px;
    color: #252525;
    letter-spacing: 0.63px;
    margin-bottom: 26px;
    .bidder{
      margin-left: 3.1%;
      margin-top: 20px;
    }
    .date{
      margin-left: 52.8%;
      margin-top: 20px;
    }
    .bid{
      margin-top: 20px;
      margin-left: 17.5%;
    }
  }
}
.singleBidBody{
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: nowrap;
  .bidderImage{
    height: 100%;
    width: 60px;
    margin-left: 2.4%;
    margin-right: 2.1%;
    img{
      border-radius: 50%;
      width: 60px;
      height: 60px;
      object-fit: cover;
      border: black solid 1px;
    }
  }
  .bidderName{
    width: 14.5%;
    margin-top: 19px;
    font-family: Lato-Bold;
    font-size: 18px;
    color: #252525;
    letter-spacing: 0.63px;
  }
  .bidDate{
    position: absolute;
    margin-left: 46.5%;
    margin-top: 19px;
    font-family: Lato-Regular;
    font-size: 18px;
    color: #252525;
    letter-spacing: 0.63px;
  }
  .bidPrice{
    margin-left: 56.3%;
    margin-top: 19px;
    font-family: Lato-Bold;
    font-size: 18px;
    color: #000000;
    letter-spacing: 0.63px;
  }
}

%filterTitle{
  font-family: Lato-Bold;
  font-size: 14px;
  color: #8367D8;
  letter-spacing: 0.49px;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 31px;
}


.shopBody{
  margin: auto;
  max-width: 1440px;
  width: 78%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 31px;
  margin-bottom: 201px;
  .shopLeft{
    width: 256px;
    height: auto;
    margin-right: 28px;
    .productCategories{
      background: #FFFFFF;
      border: 1px solid #D8D8D8;
      width: 100%;
      height: auto;
      .productCategoriesTitle{
        @extend %filterTitle;
      }
      ul{
        margin: 0;
        list-style-type: none;
        padding: 0;
        overflow: hidden;
        li{
          margin-bottom: 23px;
          a{
            margin-left: 20px;
            font-family: Lato-Regular;
            font-size: 14px;
            color: #252525;
            letter-spacing: 0.49px;
            text-decoration: none;
          }
          .subcategoryListItem{
            color: #9B9B9B;
          }
          button{
            padding: 0px;
            float: right;
            margin-right: 18px;
            background-color: transparent;
            border: none;
            font-size: 20px;
            font-weight: bold;
            color: #252525;          
          }
        }
      }
    }
    .priceFilter{
      margin-top: 20px;
      width: 100%;
      height: 200px;
      background: #FFFFFF;
      border: 1px solid #D8D8D8;
      .priceFilterTitle{
        @extend %filterTitle;
      }
      .graph{
        width: 80%;
        margin: auto;
      }

      .priceInfo{
        margin-top: 30px;
        font-family: Lato-Regular;
        font-size: 14px;
        color: #9B9B9B;
        letter-spacing: 0.49px;
      }
    }
    .colorFilter{
      margin-top: 20px;
      width: 100%;
      height: auto;
      background: #FFFFFF;
      border: 1px solid #D8D8D8;
      .colorFilterTitle{
        @extend %filterTitle;
      }
      ul{
        margin: 0;
        list-style-type: none;
        padding: 0;
        overflow: hidden;
        li{
          margin-bottom: 23px;
          a{
            margin-left: 20px;
            font-family: Lato-Regular;
            font-size: 14px;
            color: #252525;
            letter-spacing: 0.49px;
            text-decoration: none;
          }
        }
      }
    }
    .sizeFilter{
      background: #FFFFFF;
      border: 1px solid #D8D8D8;
      margin-top: 20px;
      width: 100%;
      height: auto;
      .sizeFilterTitle{
        @extend %filterTitle;
      }
      ul{
        margin: 0;
        list-style-type: none;
        padding: 0;
        overflow: hidden;
        li{
          margin-bottom: 23px;
          a{
            margin-left: 20px;
            font-family: Lato-Regular;
            font-size: 14px;
            color: #252525;
            letter-spacing: 0.49px;
            text-decoration: none;
          }
        }
      }
    }
  }
  .shopRight{
    width: 76%;
    height: auto;
    margin-bottom: 101px;
    .moreBtn{
      position: absolute;
      left: 790px;
      margin-top: 92px;
      width: 250px;
      height: 56px;
      background: #8367D8;
      font-family: Lato-Bold;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: 0.63px;
    }
  }
}
.gridView{
  .gridViewImages{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    .shopCollection{
      img{
        margin-top: 45px;
        max-width: 265px;
        height: 350px;
        object-fit: cover; 
      }
      .imageOptions{
        visibility: hidden;
        .watchListBtn{
          i{
            color: #ECECEC;
            margin-left: 7px;
          }
          .active{
            color: #8367D8;
          }
        }
      }
    }
    .shopCollection:hover{

      img{
        opacity: 0.5;
      }
      .imageOptions{
        position: absolute;
        z-index: 1000;
        visibility: visible;
        margin-left: 10px;
        padding-top: 192px;
        .watchListBtn{
          width: 140px;
          height: 36px;
          font-family: Lato-Regular;
          font-size: 15px;
          color: #252525;
          letter-spacing: 0.52px;
          line-height: 22px;
          i{
            margin-left: 6px;
          }
        }
        .bidBtn{
          width: 100px;
          height: 36px;
          font-family: Lato-Regular;
          font-size: 15px;
          color: #252525;
          letter-spacing: 0.52px;
          line-height: 22px;
          i{
            margin-left: 6px;
          }
        }
        .bidBtn:hover{
          border: #8367D8 solid 2px;
        }
        .watchListBtn:hover{
          border: #8367D8 solid 2px;
        }
      }
    }
  }
}
.listView{
  .listViewImages{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    .productList{
      display: flex;
      margin-bottom: 20px;
      .shopListCollection{
        display: flex;
        img{
          margin-top: 45px;
          max-width: 212  px;
          height: 280px;
          object-fit: cover; 
        } 
      }
      .right{
        margin-left: 30px;
        width: 603px;
        .productDescription{
          height: 110px;
          font-family: Lato-Regular;
          font-size: 16px;
          color: #9B9B9B;
          letter-spacing: 0.56px;
          line-height: 21px;
        }
        .productPrice{
          font-family: Lato-Regular;
          margin-top: 36px;
          font-size: 24px;
          color: #8367D8;
          letter-spacing: 0.84px;
        }
        .listButton{
          width: 100%;
          height: 36px;
          margin-top: 21px;
          .watchListBtn{
            height: 100%;
            width: 140px;
            background: #FFFFFF;
            border: 3px solid #ECECEC;
            font-family: Lato-Regular;
            font-size: 15px;
            color: #252525;
            letter-spacing: 0.52px;
            line-height: 22px;
            cursor: pointer;
            i{
              color: #ECECEC;
              margin-left: 7px;
            }
            .active{
              color: #8367D8;
            }
          }
          .bidBtn{
            height: 100%;
            width: 100px;
            background: #FFFFFF;
            border: 3px solid #ECECEC;
            font-family: Lato-Regular;
            font-size: 15px;
            color: #252525;
            letter-spacing: 0.52px;
            line-height: 22px;
            cursor: pointer;
            i{
              color: #ECECEC;
              margin-left: 7px;
            }
          }
          .bidBtn:hover{
            border: #8367D8 solid 2px;
          }
          .watchListBtn:hover{
            border: #8367D8 solid 2px;
          }
        }
      }
    }
  }
}

.sortAndView{
  display: flex;
  .dropdownBox{
    width: 265px;
    padding-left: 18px;
    padding-bottom: 5px;
    font-size: 16px;
    border: 3px solid #ECECEC;
    height: 46px;
    display: flex;
    cursor: pointer;
    .dropdownText{
      font-family: Lato-Regular;
      font-size: 16px;
      color: #252525;
      letter-spacing: 0.56px;
    }
    .dropdownImage{
      position: absolute;
      left: 700px;
      margin-right: 135px;
      margin-top: 15px;
      width: 33px;
      height: 21px;
    }
  }
  .dropdownOptions{
    position: absolute;
    top: 148px;
    height: auto;
    background: #FFFFFF;
    border: 3px solid #ECECEC;
    width: 283px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-top: 7px;
    li{
      width: 100%;
      height: 36px;
      line-height: 36px;
      cursor: pointer;
      :hover {
        background: #8367D8;
        color: #FFF;
      }
      p{
        padding-left: 18px;
        margin: 0;
        font-family: Lato-Regular;
        font-size: 16px;
        color: #252525;
        letter-spacing: 0.56px;
      }
    }
    .active{
      background: #8367D8;
      p{
        font-family: Lato-Regular;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0.56px;
      }
    }
  }
  .gridBtn{
    margin-left: 710px;
  }
  .listBtn{
    margin-left: 820px;
  }
  .displayBtn{
    position: absolute;
    background: #FFFFFF;
    border: none;
    display: flex;
    height: 46px;
    width: 100px;
    i{
      position: absolute;
      margin-left: 6px;
    }
    p{
      margin: 0;
      top: 1px;
      position: relative;
      left: 42px;
      font-family: Lato-Bold;
      font-size: 16px;
      color: #252525;
      letter-spacing: 0.56px;
    }
  }
  .active{
    background: #8367D8;
    color: #FFF;
    p{
      color: #FFF;
    }
  }
}

.noUi-connect {
  background: #8367D8;
  border-radius: 1px;
}
.noUi-horizontal .noUi-handle {
  background: #8367D8;
  background-clip: padding-box;
  background-image: none;
  border: 4px solid #FFF;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15);
  width: 20px;
  height: 20px;
  left: -17px;
  top: -6px;
}
.noUi-handle:after, .noUi-handle:before {
  background: none;
}
.noUi-handle {
}
.noUi-target {
  border: none;
}
.noUi-horizontal {
  height: 2px;
}
#ember256{
  margin-top: 1px;
  position: relative;
}
.activeFilters{
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  margin-top: 20px;
  width: 100%;
  height: auto;
  .activeFilterTitle{
    @extend %filterTitle;
  }
  ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    li{
      margin-bottom: 23px;
      margin-left: 20px;
      font-family: Lato-Regular;
      font-size: 14px;
      color: #252525;
      letter-spacing: 0.49px;
      text-decoration: none;
      .disableFilterBtn{
        float: right;
        margin-right: 50px;
      }
      .disableFilterBtn:hover{
        background-color: #8367D8;
        color: #FFF;
        border: none;
      }
    }
  }
}

/*---------My Account---------*/

.accountBody{
  width: 60%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 300px;
  margin-left: auto;
  margin-right: auto;
  .accountOptions{
    .accountBtns{
      height: 46px;
      background: #F0F0F0;
      font-family: Lato-Bold;
      font-size: 16px;
      color: #252525;
      letter-spacing: 0.56px;
      margin-right: 10px;
      border: none;
      i{
        margin-right: 10px;
      }
    }
    .accountBtns:hover{
      background: #8367D8;
      color: #FFF;
      i{
        color: #FFF;
      }
    }
    .active{
      background: #8367D8;
      color: #FFF;
      i{
        color: #FFF;
      }
    }
    .profileBtn{
      width: 118px;
    }
    .sellerBtn{
      width: 116px;
    }
    .bidsBtn{
      width: 107px;
    }
    .wishlistBtn{
      width: 133px;    
    }
  }
}
%profileTitle{
  background: #FAFAFA;
  height: 50px;
  width: 100%;
  p{
    margin: 0;
    position: relative;
    top: 13px;
    left: 32.5px;
    font-family: Lato-Bold;
    font-size: 20px;
    color: #252525;
    letter-spacing: 0.7px;
  }
}
%dateOptions{
  background: #FCFCFC;
  border: 1px solid #D8D8D8;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 19px;
  li{
    cursor: pointer;
    margin-left: 15px;
    font-family: Lato-Regular;
    font-size: 18px;
    color: #252525;
    letter-spacing: 0.63px;
    padding-top: 19px;
  }
}
.profileViewBody{
  width: 1100px;
  margin-top: 15px;
  .required{
    width: 100%;
    height: auto;
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    margin-bottom: 39px;
    .profileTitle{
      @extend %profileTitle;
      border-right: 1px solid #D8D8D8; 
    }
    .profileRequiredForm{
      display: flex;
      margin-top: 49px;
      .error{
        margin-left: 2px;
        margin-bottom: 10px;
        color: #8367D8;
        @extend %inputFont;
      }
      .profileRequiredLeft{
        margin-left: 41px;
        button{
          display: block;
          width: 203px;
          height: 49px;
          background: #FFFFFF;
          border: 3px solid #E3E3E3;
          box-shadow: 3px 3px 0 0 rgba(0,0,0,0.05);
          font-family: Lato-Bold;
          font-size: 16px;
          color: #252525;
          letter-spacing: 0.56px;
          text-align: center;
        }
        .changePhoto{
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1;
        }
        .changePhotoLabel{
          display: block;
          width: 200px;
          height: 33px;
          padding-top: 12px;
          background: #FFFFFF;
          border: 3px solid #E3E3E3;
          box-shadow: 3px 3px 0 0 rgba(0,0,0,0.05);
          font-family: Lato-Bold;
          font-size: 16px;
          color: #252525;
          letter-spacing: 0.56px;
          text-align: center;
        }
        .profilePhoto{
          margin-bottom: 11px;
          max-width: 203px;
          max-height: 264px;
        }
      }
      .profileRequiredRight{
        padding-bottom: 45px;
        margin-left: 52px;
        width: 690px;
        .inputLabel{
         @extend %inLabel;
         margin-top: 0px;
         margin-left: 0px;
         color: #252525;
       }
       .legend{
        position: relative;
        margin-top: 10px;
        font-style: italic;
        margin-left: 360px;
      }
      .input{
        @extend %authInput;
        margin-bottom: 19px;
        margin-left: 0px;
      }
      .dateOfBirth{
        display: flex;
        .month{
          .monthButton{
            display: flex;
            width: 140px;
            height: 46px;
            background: #FCFCFC;
            border: 1px solid #D8D8D8;
            padding-bottom: 9px;
            cursor: pointer;
            p{
              margin-left: 15px;
              font-family: Lato-Regular;
              font-size: 18px;
              color: #252525;
              letter-spacing: 0.63px;
            }
            img{
              width: 34px;
              margin-top: 16px;
              margin-left: 8px;
              height: 24px;
            }
          }
          .monthOptions{
            @extend %dateOptions;
            max-height: 150px;
            overflow-y: auto;
          }
        }
        .date{
          margin-left: 20px;
          .dateButton{
            display: flex;
            width: 100px;
            height: 46px;
            background: #FCFCFC;
            border: 1px solid #D8D8D8;
            padding-bottom: 9px;
            cursor: pointer;
            p{
              margin-left: 15px;
              font-family: Lato-Regular;
              font-size: 18px;
              color: #252525;
              letter-spacing: 0.63px;
            }
            img{
              width: 34px;
              margin-top: 16px;
              margin-left: 16px;
              height: 24px;
            }
          }
          .dateOptions{
            @extend %dateOptions;
            max-height: 150px;
            overflow-y: auto;
          }
        }
        .year{
          margin-left: 20px;
          input[type=number] {
            width: 125px;
            height: 53px;
            background: #FCFCFC;
            border: 1px solid #D8D8D8;
            font-family: Lato-Regular;
            font-size: 18px;
            color: #252525;
            letter-spacing: 0.63px;
            padding-left: 15px;
          }
        }
      }
      .phoneLabel{
        margin-top: 19px;
      }
      ::placeholder{
        font-family: Lato-Regular;
        font-size: 18px;
        color: #252525;
        letter-spacing: 0.63px;
      }
      .profileGender{
        width: 290px;
        height: 38px;
        background: #FCFCFC;
        border: 1px solid #D8D8D8;
        font-family: Lato-Regular;
        font-size: 18px;
        color: #252525;
        letter-spacing: 0.63px;
        padding-left: 15px;
        padding-top: 19px;
        display: flex;
        .genderDropdownImg{
          margin-left: 190px;
          width: 34px;
          height: 24px;
        }
      }
      .genderOptions{
        width: 290px;
        height: auto;
        background: #FCFCFC;
        border: 1px solid #D8D8D8;
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-bottom: 19px;
        padding-left: 15px;
        overflow: hidden;
        padding-bottom: 19px;
        li{
          font-family: Lato-Regular;
          font-size: 18px;
          color: #252525;
          letter-spacing: 0.63px;
          padding-top: 19px;
        }
      }
    }
  }

}

.optional{
  width: 100%;
  height: auto;
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  padding-bottom: 40px;
  .profileTitle{
    @extend %profileTitle;
    border-right: 1px solid #D8D8D8; 
  }
  .inputLabel{
   @extend %inLabel;
   margin-top: 0px;
   margin-left: 0px;
   color: #252525;
 }
 .input{
  @extend %authInput;
  width: 100%;
  margin-bottom: 19px;
  margin-left: 0px;
}
.middlePartLabels{
  display: flex;
  .zipLabel{
    margin-left: 286px;
  }
}
.middlePart{
  width: 615px;
  display: flex;
  .input{
    @extend %authInput;
    width: 45%;
    margin-bottom: 19px;
    margin-left: 0px;
  }
  .zip{
    margin-left: 34px;
  }
}
.optionalBody{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 39px;
  height: auto;
  .addressTitle{
    font-family: Lato-Regular;
    font-size: 28px;
    color: #252525;
    letter-spacing: 0.98px;
  }
}
}
.saveProfile{
  background: #FFFFFF;
  border: 3px solid #8367D8;
  box-shadow: 3px 3px 0 0 rgba(131,103,216,0.31);
  width: 243px;
  height: 57px;
  font-family: Lato-Bold;
  font-size: 18px;
  color: #252525;
  letter-spacing: 0.63px;
  margin-left: 78.3%;
  margin-top: 39px;
}
}

/*--------Seller View-------*/
%moreButton{
  position: absolute;
  left: 40%;
  margin-top: 92px;
  width: 150px;
  height: 50px;
  background: #8367D8;
  font-family: Lato-Bold;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.63px; 
}
.sellerView{
  margin-top: 46px;
  .sellerButtons{
    display: flex;
    .sellerBtn{
      width: 111px;
      height: 48px;
      background: #FAFAFA;
      border: 1px solid #D8D8D8;
      font-family: Lato-Regular;
      font-size: 18px;
      color: #252525;
      letter-spacing: 0.63px;
    }
    .active{
      background: #8367D8;
      border: 1px solid #8367D8;
      border: 1px solid #979797;
      font-family: Lato-Bold;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: 0.63px;
    }
  }
}
%headerTitles{
  font-family: Lato-Regular;
  font-size: 18px;
  color: #252525;
  letter-spacing: 0.63px;
}
%sellerActiveFont{
  font-family: Lato-Regular;
  font-size: 18px;
  color: #252525;
  letter-spacing: 0.63px;
}
.accountTable{
  width: 1120px;
  height: auto;
  .accountTableHeader{
    padding-top: 3px;
    width: 100%;
    height: 60px;
    background: #FAFAFA;
    display: flex;
    .header{
      @extend %headerTitles;
    }
    .labelItem{
      margin-left: 40px;
    }
    .labelName{
      margin-left: 64px;
    }
    .labelTime{
      margin-left: 237px;
    }
    .labelPrice{
      margin-left: 64px;
    }
    .labelNoBids{
      margin-left: 56px;
    }
    .labelHiBids{
      margin-left: 66px;
    }
  }
  .products{
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    .accountProductImg{
      width: 80px;
      max-height: 80px;
      margin-left: 21px;
    }
    .productName{
      font-family: Lato-Bold;
      font-size: 18px;
      color: #252525;
      letter-spacing: 0.63px;
      width: 250px;
      margin-left: 40px;
    }
    .productTime{
      @extend %sellerActiveFont;
      margin-left: 40px;
      width: 100px;
    }
    .productPrice{
      @extend %sellerActiveFont;
      margin-left: 50px;
      width: 110px;
    }
    .productNoBids{
      @extend %sellerActiveFont;
      margin-left: 34px;
      width: 90px;
    }
    .productHighestBid{
      @extend %sellerActiveFont;
      color: #5B9ED6;
      margin-left: 40px;
      width: 90px;
    }
    .viewBtn{
      margin-left: 20px;
      width: 103px;
      height: 49px;
      background: #FFFFFF;
      border: 3px solid #E3E3E3;
      cursor: pointer;
      box-shadow: 3px 3px 0 0 rgba(0,0,0,0.05);
    }
  }
}
.wishlistView{
  margin-top: 94px;
  .moreBtn{
    @extend %moreButton;
  }
  .accountTable{
    .accountTableHeader{
      .labelStatus{
        margin-left: 85px;
      }
    }
    .products{
      .status{
        background: #F0F0F0;
        width: 102px;
        height: 49px;
        margin-left: 25px;
        .open{
          font-family: Lato-Bold;
          font-size: 14px;
          color: #417505;
          letter-spacing: 0.49px;
          text-align: center;
          padding-top: 3px;
        }
        .closed{
          font-family: Lato-Bold;
          font-size: 14px;
          color: #A6555F;
          letter-spacing: 0.49px;
          text-align: center;
          padding-top: 3px;
        }
      }
      .viewBtn{
      margin-left: 60px;
      cursor: pointer;
    }
    }
  }
}
.bidsView{
  margin-top: 94px;
  .moreBtn{
    @extend %moreButton;
  }
}
.sellerActive{
  .moreBtn{
    @extend %moreButton;
  }
}
.sellerSold{
  .moreBtn{
    @extend %moreButton;
  }
}