<div class="bidsListBody">
  <div class="bidHeader">
    <p class="bidder">Bidder</p>
    <p class="date">Date</p>
    <p class="bid">Bid</p>
  </div>
  <SingleBid @product={{this.product}}></SingleBid>
</div>