<div class="featureProductBody">
  <p class="featureProductTitle">Feature Products</p>
  <div class="row featureProductImages">
    {{#each products as |product|}}
      <Product  @className="featureProduct" @product={{product}}></Product>
    {{/each}}
  </div>
</div>
