<div class="row bottomPartBody">
  {{#each chances as |product|}}
    <div class="col">
      <Product  @className="bottomPart" @product={{product}}></Product>
    </div>
  {{/each}}
</div>
<button class="loadMoreBtn" {{action "loadMoreChance"}}>Load More</button>