<div class="row bottomPartBody">
  {{#each arrivals as |product|}}
    <div class="col">
      <Product  @className="bottomPart" @product={{product}}></Product>
    </div>
  {{/each}}
</div>
<div class="pagination">
  {{#each buttonsList as |buttonNumber index|}}
    <button class="loadMoreBtn" {{action "loadMore" index}}>{{buttonNumber.page}}</button>
  {{/each}}
</div>