<div class="gridView">
  <div class="gridViewImages">
    {{#each products as |product|}}
      <div><Product  @className="shopCollection" @product={{product}}></Product></div>
    {{/each}}
  </div>
</div>