<div class="bodyTop">
  <div class="categories">
    <p class="categoriesTitle">CATEGORIES</p>
    <ul>
      <li><a href="">Fashion</a></li>
      <li><a href="">Accesories</a></li>
      <li><a href="">Jewlery</a></li>
      <li><a href="">Shoes</a></li>
      <li><a href="">Sportware</a></li>
      <li><a href="">Home</a></li>
      <li><a href="">Electronics</a></li>
      <li><a href="">Mobile</a></li>
      <li><a href="">Computer</a></li>
      <li><a href="">All Categorise</a></li>
    </ul>
  </div>
  <div class="productTitle">
    <div>
      <p class="productTitleP">{{this.product.name}}</p>
      <p class="productTitlePrice">Star from - ${{this.product.startPrice}}</p>
      <p class="productTitleDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut consequat nulla. Duis nec fermentum erat, et varius augue. Vivamus sed tempor libero.</p>
      <button class="productTitleButton" {{action "bidNow"}}>BID NOW</button>
    </div>
    <div class="titleImage">
      <img src={{get this.product.photo "1"}} alt="">
    </div>
  </div>
</div>
